.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: #a2b2ab;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}