<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="Tizen Mobile Web Basic Template" />

<!--===============================================================================================-->
	<!--<link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css">-->
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../css/util-template.css">
	<link rel="stylesheet" type="text/css" href="../css/main-template.css">
    
</head>

<body >
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form">				
					<div class="container-login100-form-btn">
						<div class="wrap-skip-next-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								Finish
							</button>
						</div>
					</div>
  			<div style="margin:0px auto;width: 50%">
   					<span class="login100-form-title p-b-48">
						<i class="zmdi zmdi-plus-circle"></i>
					</span>
					<div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
						<input id="emailPartner" class="input100" type="email" name="emailPartner">
						<span class="focus-input100" data-placeholder="Invite Partner"></span>
					</div>
 			 </div>
 			 </form>
			</div>
	</div>
</div>
	
<!--===============================================================================================-->
	<script src="../vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="../vendor/bootstrap/js/popper.js"></script>
	<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../vendor/daterangepicker/moment.min.js"></script>
	<script src="../vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="../vendor/countdowntime/countdowntime.js"></script>
	<!--===============================================================================================-->
	<script src="../js/config/config.js"></script>
	<!--===============================================================================================-->
	<script src="../js/identification/invitePartner.js"></script>
</body>

</html>
